[submodule "vendor/ppx_graphql"]
	path = vendor/ppx_graphql
	url = git@github.com:Zimmi48/ppx_graphql
[submodule "vendor/ocaml-graphql-server"]
	path = vendor/ocaml-graphql-server
	url = git@github.com:andreas/ocaml-graphql-server
[submodule "vendor/graphql_ppx_re"]
	path = vendor/graphql_ppx_re
	url = https://github.com/baransu/graphql_ppx_re
